@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.gradient {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Source Sans Pro', sans-serif;
}
